*:not(:defined) {
  visibility: hidden;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "letters answers"
    "guess answers";
}

#layout-letters {
  grid-area: letters;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#layout-letters div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#layout-guess {
  grid-area: guess;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#layout-guess > * {
  margin: .5em;
}

#layout-answers {
  grid-area: answers;
  text-align: center;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  font-family: monospace;
}

quiz-answer {
  margin-left: .4em;
  margin-right: .4em;
}

.nine {
  font-weight: bold
}

#display-repeat {
  color: darkgoldenrod;
}